.history-card{
    text-align: left;
    margin: 40px auto;
}

.history-card-lg{
    img{
        width: 250px;
        height: 250px;
        border-radius: 30px;    
    }
    width: 1000px;
    h3{
        font-size: 1.75em;
        margin: 10px 0;
    }
    h4{
        font-size: 1.25em;
        font-weight: bold;
        margin: 5px 0;
    }
    h5{
        font-size: 1.25em;
        font-weight: bold;
        margin: 5px 0;
    }
}

.history-card-md{
    img{
        width: 250px;
        height: 250px;
        border-radius: 30px;    
    }
    width: 900px;
    h3{
        font-size: 1.5em;
        margin: 5px 0;
    }
    h4{
        font-size: 1.25em;
        font-weight: bold;
        margin: 5px 0;
    }
    h5{
        font-size: 1.25em;
        font-weight: bold;
        margin: 5px 0;
    }
}

.history-card-sm{
    img{
        width: 200px;
        height: 200px;
        border-radius: 20px;    
    }
    max-width: 700px;
    h3{
        margin: 2px 0;
    }
    h4{
        margin: 2px 0;
    }
    h5{
        margin: 2px 0;
    }
    p{
        margin-top: 0;
    }
}

.history-card-xs{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    img{
        width: 200px;
        height: 200px;
        border-radius: 20px;    
    }
    max-width: 700px;
    h3{
        margin: 2px 0;
    }
    h4{
        margin: 2px 0;
    }
    h5{
        margin: 2px 0;
    }
    p{
        margin-top: 0;
    }
}