<div class="app">
    <mat-toolbar class="dj-toolbar">
        <span>D.J. Sitte</span>
        <span class="fill-remaining-toolbar"></span>
        <span class="toolbar-link"><a href="/education">Education</a></span>
        <span class="toolbar-link"><a href="/current-projects">Current Projects</a></span>
        <span class="toolbar-link"><a href="/contact">Contact</a></span>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="background">
</div>