@import '../assets/scss/variables';

.app{
    color: $fg-color;
}

.dj-toolbar{
    z-index: 1000;
    position: fixed;
}

.background{
    background-image: url("/assets/img/Milwaukee.jpg");
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.fill-remaining-toolbar{
    flex: 1 1 auto;
}

.toolbar-link{
    margin: 0 10px;
    a{
        color: $fg-color;
        text-decoration: none;
    }
}