<div class="app">
    <mat-toolbar class="dj-toolbar" *ngIf="topNav">
        <span *ngFor="let link of topNav.leftLinks" class="toolbar-link">
            <a [routerLink]="link.url">{{link.linkText}}</a>
        </span>
        <span class="fill-remaining-toolbar"></span>
        <span *ngFor="let link of topNav.rightLinks" class="toolbar-link">
                <a [routerLink]="link.url">{{link.linkText}}</a>
        </span>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="background-cover">
</div>

<div class="background">
</div>

