<h1 class="home-header">{{header}}</h1>
<div fxLayout="row" fxLayout.lt-md="column" [ngClass.gt-sm]="'home-card'" [ngClass.lt-md]="'home-mobile'">
  <div fxFlex="50" fxFlexOrder.lt-md="2" class="home-table-right">
    <img class="home-portrait" src="/assets/img/Home.jpg">
  </div>
  <div fxFlex="50" fxFlexOrder.lt-md="1" fxLayout="column" class="home-table-right">
    <p>
      {{body}}
    </p>
    <p class="home-socials">
      <a href="https://www.fb.me/djsitte"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://www.twitter.com/djsitte"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="https://www.linkedin.com/in/djsitte"><ion-icon name="logo-linkedin"></ion-icon></a>
      <a href="https://www.instagram.com/djsitte/"><ion-icon name="logo-instagram"></ion-icon></a>
    </p>
  </div>
</div>


