@import '../../assets/scss/variables';

.home-component{
    text-align: center;
    padding-top: 30vh;
}

.home-subtext{
    position: absolute;
    bottom: 3vh;
    z-index: 100;
    width: 100vw;
    text-align: center;
}

.history{
    text-align: center;
    h2{
        width: 100%;
    }
}

